@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }

  .imgDark {
    display: unset;
  }
}

@layer base {
  html,
  body {
    @apply max-w-[100vw] overflow-x-hidden;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  * {
    @apply box-border m-0 p-0;
  }

  a {
    @apply text-inherit no-underline;
  }
}

.imgDark {
  display: none;
}
